.messageWithUser {
    list-style-type: none;
    border: 1px solid lightslategray;
    border-radius: 10px;
    margin: 5px;
    padding-left: 20px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

