h1 {
    font-family: 'Playfair Display', serif;
}
.chatForm {
    width: 200px;
    margin-right: auto;
    margin-left: auto;
}

.btn {
    margin-top: 10px;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    color: white;
    background-color: rgb(42, 41, 54);
    border-radius: 10px;
    height: 40px;
    width: 100px;
}

.btn:hover {
    cursor: pointer;
}

.userMessageLink {
    text-decoration: none;
}