h1 {
    text-align: center;
}
.profilePic {
    margin-right: auto;
    margin-left: auto;
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    border-radius: 30px;
}

p {
    padding-left: 20px;
}

.addButton {
    width: 200px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    color: white;
    text-decoration: none;
    background-color: rgb(42, 41, 54);
    border-radius: 20px;  
}

.collabPicProf {
    border-radius: 200px;
    height: 200px;
    width: 200px;
}

.addButton:hover, a.addProfButton:hover {
    font-weight: bolder;
    cursor: pointer;
    background-color: rgb(102, 3, 19);
}

a.addProfButton {
    color: white;
    text-decoration: none;
}
.imgContainer {
    text-align: center;
}
.responsive {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 20px;
  }

